* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .carousel__container {
    overflow: hidden
  }
  
  .carousel {
    width: 500px;
    height: 500px;
    background: black;
    position: relative;
    transition: 0.3s all ease-in;
  }
  
  .carousel__img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .carousel__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .buttons {
    position: fixed;
    top: 10px;
    left: 10px;
   
  }
  
  #next {
    right: 10px;
  }